/* General link styles */

.link {
    outline: none;
    z-index: 10000;
    font-size: 1.2em;
    line-height: 1;
    color: #F9F9F9;
    display: inline-block;
}


/* Takiri */

.link--takiri {
    font-style: italic;
    font-weight: 700;
    font-size: 1.25em;
    padding: 0 10px 20px;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}

.link--takiri:hover {
    color: #F9F9F9;
}

.link--takiri::before {
    content: '';
    position: absolute;
    height: 36px;
    width: 120%;
    top: 50%;
    margin-top: -18px;
    left: -10%;
    z-index: -1;
    background: #345887;
    -webkit-transform: rotate3d(0, 0, 1, 45deg) scale3d(0, 1, 1);
    transform: rotate3d(0, 0, 1, 45deg) scale3d(0, 1, 1);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.link--takiri:hover::before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 1, 1);
    transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 1, 1);
}

.link--takiri span {
    font-size: 20%;
    font-weight: 400;
    position: absolute;
    right: 15px;
    font-size: 0.50em;
    color: #F9F9F9;
    bottom: 0;
    opacity: 0;
    -webkit-transform: translate3d(-10px, -10px, 0);
    transform: translate3d(-10px, -10px, 0);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

.link--takiri:hover span {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}